@using KillerAppASP.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="ui celled table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.SearchResults != null) { 
        foreach (Search s in ViewBag.SearchResults)
        {
            <tr>
                <td>@s.Type</td>
                <td>@s.Name</td>
                <td>@s.Info</td>
            </tr>
        }
        }
        else
        {
            <tr>
                <td>There are</td>
                <td>no search</td>
                <td>results found</td>
            </tr>
        }
    </tbody>
</table>
