@model KillerAppASP.ViewModels.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- Site Properties -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />

<title>Login Example - Semantic</title>
<link href="~/Content/semantic.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/jquery-3.1.1.js"></script>

<style type="text/css">
    body {
        background-color: #ffffff;
    }

        body > .grid {
            height: 100%;
        }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
</style>
<script>
    $(document)
        .ready(function () {
            $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your name or e-mail'
                                }

                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your password'
                                },
                                {
                                    type: 'length[6]',
                                    prompt: 'Your password must be at least 6 characters'
                                }
                            ]
                        }
                    }
                })
                ;
        })
        ;
</script>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui purple image header" style="color: #767676;">
                Login to your account
        </h2>

        @using (Html.BeginForm("Login", "Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="ui large form">

                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { required = "required", type = "text", name = "name" } })
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { required = "required", type = "password" } })
                        </div>
                    </div>

                    <div class="field">
                        <button style="width: 100%;" class="ui fluid large grey submit button" type="submit">Login</button>
                    </div>

                </div>
            </div>
        }

    </div>
</div>

@if (IsPost)
{
    <script>
        $("#alert-message").fadeTo(3000, 500).slideUp(500, function () {
            $("#alert-message").slideUp(500);
        });
    </script>
}